.content {
    margin: 4rem 0.25rem;
}

.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control {
    margin-bottom: 1rem;
}

.form-action button {
    background: #f83030;
    font: inherit;
    border: 1px solid #f83030;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    color: #ffff;
    cursor: pointer;
}

.form-action button:hover,
.form-action button:active {
    background: #dd506c;
    border-color: #dd506c;
}